* {
    margin: 0px;
    padding: 0px;
}

#atcnavbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    border: 1px solid;
    /* padding-top: 2%; */

}

#atcnavbar>div {
    border: 0px solid;
    width: 20%;
    margin-top: 1%;
    height: 40px;
}

#atcnavbar>div>div {
    border: 0px solid;
    height: 25px;
}

#atcmain {
    border: 0px solid;
    width: 75%;
    margin: auto;
    height: auto;
    display: flex;
}

#atcitem {
    border: 0px solid;
    width: 60%;
    height: auto;
    padding: 2%;
}



#atcitem>div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    height: 160px;
    display: flex;
    /* margin-bottom: 2%; */

}

#atcitem>div>.aboutitem {
    border: 0px solid;
    width: 75%;
    height: 100%;

}

#atcitem>div>.aboutitem>p {
    font-size: 20px;
    color: rgb(98, 97, 97);
    font-family: 'Poppins', sans-serif;
}

#atcitem>div>.aboutitem>h2 {
    font-family: 'Poppins', sans-serif;
    color: black;

}

#atcitem>div>.aboutitem>h4 {
    text-decoration: line-through;
    color: rgb(98, 97, 97);
    font-family: 'Poppins', sans-serif;
}

#atcitem>div>.imageitem {
    border: 0px solid;
    width: 20%;
}

#atcitem>div>.imageitem>img {
    width: 100%;
    height: 100%;
}

div>.aboutitem>h3 {
    color: green;
    font-family: 'Poppins', sans-serif;
}

#atcitem>.buttondiv {
    border: 0px solid rgb(98, 97, 97);
    display: flex;
    height: 40px;
    margin-bottom: 5%;
    justify-content: space-between;
    background-color: rgb(98, 97, 97);
}

#atcitem>.buttondiv>div {
    border: 0px solid rgb(98, 97, 97);
    width: 80%;
}

#atcitem>.buttondiv>div>button {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: rgb(98, 97, 97);
}

#atcamount {
    border: 0px solid;
    width: 40%;
    height: 100vh;

}

.offer {
    border: 0px solid;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    margin-bottom: 3%;
}

.price {
    border: 0px solid;
    width: 100%;
    height: 50%;
}

#offer_navbar {
    border: 0px solid;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 206, 8);
    border-radius: 10px;
    display: flex;
    /* justify-content:space-between:; */
    margin-bottom: 2%;


}

#offer_navbar>#o_n1 {
    border: 0px solid;
    width: 60%;
    color: white;
    font-size: 20px;
    font-family: montserrat;
    height: 25px;
    margin: auto;

}

#offer_navbar>#o_n2 {
    border: 0px solid;
    width: 10%;
    margin: auto;
    height: 25px;
    font-size: 25px;
}

#offer_detail {
    border: 1px solid;
    font-size: 20px;
    font-family: montserrat;
    padding: 5px 3px 5px 3px;
    margin-bottom: 5%;
    border-color: rgb(168, 165, 165);
}

#offer_detail1 {
    border: 1px solid;
    font-size: 20px;
    font-family: montserrat;
    padding: 5px 3px 5px 3px;
    margin-bottom: 5%;
    border-color: rgb(168, 165, 165);
}

#offer_detail2 {
    border: 1px solid;
    font-size: 20px;
    font-family: montserrat;
    padding: 5px 3px 5px 3px;
    margin-bottom: 5%;
    border-color: rgb(168, 165, 165);
}




#offer_navbar2 {
    border: 1px solid;
    width: 100%;
    height: 50px;
    background-color: rgb(125, 140, 193);
    border-radius: 10px;
    display: flex;
    /* justify-content:space-between:; */
    margin-bottom: 2%;


}

#offer_navbar2>#o_n12 {
    border: 0px solid;
    width: 60%;
    color: blue;
    font-size: 20px;
    font-family: montserrat;
    height: 25px;
    margin: auto;

}

#offer_navbar2>#o_n22 {
    border: 0px solid;
    width: 10%;
    margin: auto;
    height: 25px;
    font-size: 25px;
}

#price_div {
    border: 1px solid;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
}

#subtotal {
    border: 0px solid;
    width: 100%;
    margin: auto;
    height: 25px;
    font-size: 25px;
}

#count_item {
    border: 0px solid;
    width: 80%;
    margin: auto;
    height: 40px;
    font-weight: bold;
    font-size: 30px;
    font-family: montserrat;
    margin-bottom: 5%;
}

#checkout_div {
    margin-top: 5%;
    width: 50%;
    height: 10%;
    background-color: green;
    color: white;
    font-size: 20px;

}