


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

    /* width: 10%;
    height: 10px;
    border: 1px solid ; */

#up_navbar{
    width: 100%;
    height: 27px;
    /* border: 1px solid ; */
    background-color: #EEEEEE;
}
#up_navbar>div{
    width: 86%;
    height: 100% ;
    /* border: 1px solid ; */
    margin: auto;
    justify-content: space-between;
    display: flex;
}
#up_navbar>div div{
    width: 28%;
    height: 38%;
    margin-top: 0.5%;
    /* border: 1px solid red ; */
    display: flex;
    justify-content: space-around;
}
#up_navbar>div div:nth-child(2){
    width: 13%;
}
#up_navbar>div div p{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    /* line-height: 1.42857143; */
    color: #333;
    font-size: 11px;
}
#navbar{
    width: 100%;
    height: 52px;
    /* border: 1px solid ; */
    background-color: #FFFFFF ;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
#navbar>div{
    width: 86%;
    height: 100%;
    /* border: 1px solid; */
    margin: auto;
    display: flex;
}
#navbar>div>div:nth-child(1){
    width: 16.5%;
    height: 100%;
    /* border: 1px solid; */
    /* display: flex; */
}
#navbar>div>div:nth-child(2){
    width: 41.5%;
    height: 16px;
    /* border: 1px solid blue; */
    margin-top: 1.3%;
}
#navbar>div>div:nth-child(3){
    width: 42%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
}


#navbar>div>div:nth-child(1)>img{
    height: 20px;
    margin: 6% 0% 0% 4% ;
}
#navbar>div>div:nth-child(2) p{
    display: inline;
    font-size: 14px;
    font-family: montserrat,sans-serif;
    cursor: pointer;
    /* font-weight: bold; */
    margin: 0% 0% 0% 4% ;
    text-align: center;
}

#icons>div{
    width: 70%;
    height: 70%;
    margin-top: 1.5%;
    /* border: 1px solid blue; */
    display: flex;
    background-color: white;
}
#icons>div>i{
    font-size:large;
    padding-top: 3%;
    background: #eaeaea;
    padding-left: 3%;
    padding-right: 1.5%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: rgba(0,0,0,.5);
}
#query{
    width: 88%;
    height: 100%;
    font-size: 12px;
    background: #eaeaea;
    border: 0px solid red;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgba(0,0,0,.5);
}
#icons>div+div{
    width: 30%;
    height: 58%;
    margin-top: 2%;
    /* border: 1px solid ; */
    background-color: #FFFFFF;
}
#icons>div+div>div{
    height: 70%;
    margin-top: 2.5%;
    border-left: 1px solid;
    margin-left: 5px;
    color: #a1a1a1;
    margin-right: 8px;
}
#icons>div+div i{
    margin-right: 8px;
    font-size: 135%;
    color: rgba(0,0,0,.9);
    background-color: #FFFFFF ;
}
#icons>div+div>div+i+i+i{
    color: gold ;
}







