@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* Top section */


#up_navbar{
    display: flex;
    width: 100%;
    height: 1.8rem;
    padding: 0rem 12rem;
    align-items: center;
    justify-content: space-between;
    background: #eeeeee;
    font-size: .9rem;
}

.up_navbar-box{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.up_navbar-box2{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}


/* NAV-SECTION */
#bottom-nav{
    display: flex;
    height: 4rem;
    padding: 0rem 12rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #bebebe;
}

.navbar-box{ 
    display: flex;
}

#logo img{
    width: 11rem;
}

#bottom-nav #section1{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: space-between;
}

#catagory-section{
    width: 50%;
    align-items: center;
    justify-content: space-between;
}
#catagory-section p{
    border-bottom: 4px solid transparent;
    font-weight: 500;
}
#catagory-section p:hover{
    border-bottom: 4px solid #ffd835;
}

#bottom-nav #section2{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-around;
}

#section2 #search{
    align-items: center;
    width: 60%;
}
#section2 #search input{
    background-color: #e9e9e9;
    border: 2px solid #d2d2d2;
    height: 40px;
    border-radius: 5px;
}
#section2 #search i{
    font-size: 30px;
    color: #bcbcbc;
    margin-left: 3px;
}


#seperator{
    height: 20px;
    margin: 10px;
    border: 1px solid grey;
    background-color: grey;
}


#section2 #icons{
    align-items: center;
    width: 20%;
    justify-content: space-between;
}